<include file="Public/header" />
<include file="Public/nav" />
<ol class="breadcrumb">
	<li><a href="__APP__">主页</a></li>
	<li><a href="__APP__/List/Index/{$category}/{$category2}">{$category_name}</a></li>
	<li class="active"></li>
</ol>
<div class="container-fluid">
	<if condition="$content!=''">
	<h4 align="center">{$title}</h4>
	<h5>单位：{$department}</h5>
	<div style="padding-bottom: 20px; font-size: 14px;">{$content}</div>
	<else />
	<div class="alert alert-danger" role="alert">没有找到文章</div>
	</if>
</div>
<include file="Public/footer" />