<include file="Public/header" />
<body>
	<div class="container-fluid">
		<h1 align="center">广东工业大学</h1>
		<h2 align="center">新闻通知网</h2>
		<div class="panel panel-default">
			<div class="panel-body">
				<form method="POST" action="__APP__/Login/login">
					<div class="form-group">
						<label for="un"><span class="glyphicon glyphicon-envelope"
							aria-hidden="true"></span>&nbsp;用户邮箱</label> <input type="text" id="un"
							name="un" value="{$un}" class="form-control" placeholder="用户名"
							maxlength="40" required="required">
					</div>
					<div class="form-group">
						<label for="passwd"><span class="glyphicon glyphicon-lock"
							aria-hidden="true"></span>&nbsp;用户密码</label> <input type="password"
							id="passwd" name="passwd" class="form-control" placeholder="密码"
							maxlength="255" required="required">
					</div>
					<div class="checkbox">
						<label><input id="remember" name="remember"
							type="checkbox" value="1">&nbsp;记住我 </label>
					</div>
					<present name="output">
					<div class="alert alert-danger" role="alert">{$output}</div>
					</present>
					<button type="submit" class="btn btn-lg btn-primary btn-block">登录</button>
				</form>
				<p align="center">
					<a href="__APP__/Login/lost">首次登录</a>&nbsp;|&nbsp;<a
						href="__APP__/Login/lost">找回密码</a>
				</p>
			</div>
		</div>
	</div>
	<include file="Public/footer" />