<div id="back" onclick="$(document).scrollTop(0);"
	style="position: fixed; right: 1%; bottom: 1%; z-index: 10; display: none;">
	<button type="submit" class="btn btn-default">
		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;返回顶部
	</button>
</div>
<script>
	$(function() {
		$(window).scroll(
				function() {
					if ($(document).scrollTop() > 0) {
						$('#back').show();
					} else {
						$('#back').hide();
					}
					if (!loading
							&& $(document).scrollTop() >= $(document).height()
									- $(window).height())
						next();
				});
	});
</script>