<include file="Public/header"/>
<include file="Public/nav"/>
<div class="jumbotron hidden-xs">
    <div class="container">
        <h1>广东工业大学</h1>
        <p>新闻通知网，欢迎您</p>
    </div>
</div>
<foreach name="data" item="info">
    <div class="container col-xs-12 col-sm-6">
        <div class="page-header">
            <h3>{$info.name}</h3>
        </div>
        <div class="list-group">
            <foreach name="info.data" item="val" >
                <a href="__APP__/Article/index/{$val.articleid}" class="list-group-item" target="_blank">
                    <h4 class="list-group-item-heading">{$val.title}</h4>
                    <p class="list-group-item-text">[{$val.departmentname}&nbsp;{$val.publishdate}&nbsp;{$val.weekday}]</p>
                </a>
            </foreach>
            <a href="__APP__/List/index/{$info.id}" class="list-group-item"><div style="text-align:center;">更多...</div></a>
        </div>
    </div>
</foreach>
<include file="Public/footer"/>