<include file="Public/header" />
<include file="Public/nav" />
<div class="container-fluid"
	style="padding-left: 0px; padding-right: 0px">
	<div class="list-group">
		<foreach name="data" item="val"> <a
			href="__APP__/Article/index/{$val.articleid}" class="list-group-item"
			target="_blank">
			<h5 class="list-group-item-heading">{$val.title}</h5>
			<p class="list-group-item-text" style="font-size: 12px;">[{$val.departmentname}&nbsp;{$val.publishdate}&nbsp;{$val.weekday}]</p>
		</a> </foreach>
	</div>
</div>
<include file="Public/footer" />