<include file="Public/header"/>
<include file="Public/nav"/>
<div class="container">
<ol class="breadcrumb visible-xs">
  <li><a href="__APP__">主页</a></li>
  <li class="active">搜索结果</li>
</ol>
<div class="page-header hidden-xs">
	<h3>搜索结果</h3>
</div>
    <if condition="count($data)==0">
        <div class="alert alert-danger">没有找到记录</div>
        <else/>
        <div id="content" class="list-group">
            <foreach name="data" item="val">
                <a href="__APP__/Article/index/{$val.articleid}" class="list-group-item" target="_blank">
                    <h4 class="list-group-item-heading">{$val.title}</h4>
                    <p class="list-group-item-text">&nbsp;[{$val.departmentname}]&nbsp;[{$val.publishdate}&nbsp;{$val.weekday}]</p>
                </a>
            </foreach>
        </div>
        <div id="more" class="btn btn-default btn-block" onclick="next()">更多...</div>
    </if>
</div>
<div style="position:fixed;right:1%;bottom:1%;" class="icon-chevron-up icon-white" onclick="$(document).scrollTop(0);"><button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-arrow-up"aria-hidden="true"></span>&nbsp;返回顶部</button></div>
<script>
    var page= 1,loading=false;
    function next(){
        loading=true;
        $.post('__APP__/Search/search/'+(++page),{ 'keyword':'{$keyword}','type':{$type},'department':{$department},'category':{$category},'date_from':'{$date_from}','date_to':'{$date_to}'},function(a){
            if(a.length){
                $.each(a,function(i,v){
                    $('#content').append('<div class="list-group"><a href="__APP__/Article/index/'+v.articleid+'" class="list-group-item" target="_blank"><h4 class="list-group-item-heading">'+v.title+'</h4><p class="list-group-item-text">&nbsp;['+v.departmentname+']&nbsp;['+v.publishdate+'}&nbsp;'+v.weekday+']</p></a></div>');
                });
            }else{
                $('#more').hide();
            }
            loading=false;
        });
    }
    $(function(){
        $(window).scroll(function(){
            if(!loading&&$(document).scrollTop()>=$(document).height()-$(window).height())next();
        });
    });
</script>
<include file="Public/footer"/>