<include file="Public/header" />
<include file="Public/nav" />
<ol class="breadcrumb">
	<li><a href="__APP__">主页</a></li>
	<li class="active">搜索结果</li>
</ol>
<div class="container-fluid"
	style="padding-left: 0px; padding-right: 0px">
	<if condition="count($data)==0">
	<div class="alert alert-danger" role="alert">没有找到文章</div>
	<else />
	<div id="content" class="list-group">
		<foreach name="data" item="val"> <a
			href="__APP__/Article/index/{$val.articleid}" class="list-group-item"
			target="_blank">
			<h5 class="list-group-item-heading">{$val.title}</h5>
			<p class="list-group-item-text" style="font-size: 12px;">&nbsp;[{$val.departmentname}]&nbsp;[{$val.publishdate}&nbsp;{$val.weekday}]</p>
		</a> </foreach>
	</div>
	<if condition="count($data)==30">
	<button id="more" class="btn btn-default btn-block" onclick="next()"
		style="margin-bottom: 20px;">更多...</button>
	</if> </if>
</div>
<script>
    var page=1,loading=false;
	function next(){
		loading=true;
		$.post('__APP__/Search/search/'+(++page),{ 'keyword':'{$keyword}','type':{$type},'department':{$department},'category':{$category},'date_from':'{$date_from}','date_to':'{$date_to}'},function(a){
			if(a.length){
				$.each(a,function(i,v){
					$('#content').append('<a href="__APP__/Article/index/'+v.articleid+'" class="list-group-item" target="_blank"><h5 class="list-group-item-heading">'+v.title+'</h5><p class="list-group-item-text" style="font-size: 12px;">&nbsp;['+v.departmentname+']&nbsp;['+v.publishdate+'&nbsp;'+v.weekday+']</p></a>');
				});
			}else{
				$('#more').hide();
			}
			loading=false;
		});
	}
</script>
<include file="Public/back" />
<include file="Public/footer" />