<include file="Public/header"/>
<include file="Public/nav"/>
<div class="container">
<ol class="breadcrumb visible-xs">
  <li><a href="__APP__">主页</a></li>
  <li class="active">校内通知</li>
</ol>
<h4>YYYY/MM/DD&nbsp;星期W</h4>
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">关于做好接听招生热线电话工作的通知</h4>
    <p class="list-group-item-text"> [招生办公室]</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">关于做好接听招生热线电话工作的通知</h4>
    <p class="list-group-item-text"> [招生办公室]</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">关于做好接听招生热线电话工作的通知</h4>
    <p class="list-group-item-text"> [招生办公室]</p>
  </a>
</div>
<h4>YYYY/MM/DD&nbsp;星期W</h4>
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">关于做好接听招生热线电话工作的通知</h4>
    <p class="list-group-item-text"> [招生办公室]</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">关于做好接听招生热线电话工作的通知</h4>
    <p class="list-group-item-text"> [招生办公室]</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">关于做好接听招生热线电话工作的通知</h4>
    <p class="list-group-item-text"> [招生办公室]</p>
  </a>
</div>
<nav>
  <ul class="pager">
    <li class="previous"><a href="#">上一页</a></li>
    <li class="next"><a href="#">下一页</a></li>
  </ul>
</nav></div>
<include file="Public/footer"/>